#footer{
    width: 100%;
    background-color: rgb(40, 45, 48);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;  
    height: 5vh;
    display: grid;
    grid-template-columns: 82% 6% 6% 6%;
    padding:0.8% 0%;
    justify-content: center;
   }

   #footer h2{
    line-height: 50px;
    color:white;
    margin: 0;
    padding-left:1%
 }